html {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #383838;
}
body {
    min-height: 90vh;
    padding: 15px;
}

h1 {
    font-family: Termina,sans-serif;
    font-size: 32px;
    font-style: normal; 
    font-weight: 500;
}

h2 {
    font-family: Termina,sans-serif;
    font-size: 30px;
    font-style: normal; 
    font-weight: 800; 
}

p {
    margin: 10px 0;
}

.bold {
    font-weight: 800;
}

.page-container {
    max-width: 1270px;
    margin: auto;
    margin-bottom: 80px;
    width: 100%;
}

.uk-navbar-nav > li > a {
    color: #383838;
    font-family: Termina,sans-serif;
    font-size: 20px;
    font-style: normal;
    text-transform: lowercase;
}

.search-input {
    border: none;
    border-bottom: solid #A55591;
    font-family: Termina, sans-serif;
    font-size: 16px;
    text-align: center;
}

.search-button {
    background: none;
    border: none;
    color: #F05058;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.home-content {
    width: 100%;
    min-height: 70vh;
    text-align: center;
}

#home-form {
    margin: auto;
    max-width: 700px;
}

.home-search-input {
    background: none;
    border: none;
    border-bottom: solid #A55591;
    font-family: Termina, sans-serif;
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.home-button {
    background: rgba(255, 255, 255, 0.8);
    border: solid #F05058;
    border-radius: 40px;
    border-width: 4px;
    cursor: pointer;
    font-family: Termina, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 0px 30px;
    text-transform: lowercase;
}

.home-image {
    margin-left: -100px;
    min-width: 800px;
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 100%;
    z-index: -99;
}

/* NAV */

.countries-dropdown {
    background-color: white;
    font-family: Termina,sans-serif;
    padding: 20px;
    box-shadow: 4px 4px 6px #00000011 ;
}

.countries-list {
    margin: 0;
}

.saved-country {
    cursor: pointer;
    padding: 7px 5px;
    text-transform: capitalize;
}

.saved-country:hover {
    color: #C39CB7;
    transition: .2s ease;
}

.countries-placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

/* dashboard header */

.header {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.header-intro {
    color: #A55591;
}

.header-red {
    color: #F05058;
    font-weight: 800;
}

.bookmark {
    font-size: 24px;
    color: #F05058;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.bookmark:hover {
    opacity: .8;
    transition: .2s ease;
}

/* DASHBOARD CARDS */

.card {
    border: solid 3px;
    margin-bottom: 25px;
    padding: 15px;
}

.main-link {
    color: #4AA19B;
    text-decoration: underline;
}

.main-link:hover {
    color: #07dfd4;
    transition: .2s ease;
}

.water-status {
    font-size: 48px;
}

.water-icon {
    color: #4AA19B;
    font-size: 90px; 
    margin: 20px;
}

.big-temp {
    color: #4AA19B;
    font-family: Termina, sans-serif;
    font-size: 72px;
    font-weight: 800;
    margin-right: 30px;
}

.avg-text {
    color: #4AA19B;
    font-family: Termina, sans-serif;
    text-align: center;
}

#avg-current-month {
    font-weight: 800;
    text-transform: uppercase;
}

.month-btn {
    background-color: #C39CB7;
    color: white;
    cursor: pointer;
    font-family: Termina, sans-serif;
    font-size: 14px;
    padding: 6px 10px;
    text-transform: uppercase;
    margin: 10px 4px;

}

.active-month {
    background-color: #F05058;
}

.neighbour-country {
    cursor: pointer;
    padding: 15px 0;
    border: none;
    border-bottom: solid 1px #bebebe;
}

.neighbour-country:hover {
    color: #C39CB7;
    transition: .2s ease;
}

.cards-container {
    margin-bottom: 25px;
}

.currency-highlight {
    color: #4AA19B;
    font-weight: 700;
}

#currency-country {
    text-transform: capitalize;
}

#currency-text {
    text-transform: uppercase;
}

.currency-explainer {
    color: #C39CB7;
    font-size: 12px;
    margin: 0;
}

.currency-form {
    margin-top: 20px;
}

.currency-input {
    border: none;
    border-bottom: solid #A55591;
    font-family: Termina, sans-serif;
    font-size: 16px;
    margin-right: 15px;
    text-align: left;
    max-width: 150px;
}

.currency-select {
    background-color: #C39CB7;
    color: #383838;
    font-family: Montserrat, sans-serif;
    font-weight: bold;

}

.convert-button {
    background-color: #A55591;
    border: none;
    color: white;
    font-family: Termina, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    padding: 7px 15px;
    width: 100%;
}

.currency-result {
    color: #383838;
    font-family: Termina, sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 25px;
    text-align: right;
}

/* CARDS */

.overview-card {
    border: solid 4px #9B5B8E;
}

.overview-card h2 {
    color: #4AA19B;
}

.advice-card {
    border: solid 4px #9B5B8E;
    border-radius: 40px;
    box-shadow: 8px 8px #4AA19B;
    padding: 20px 15px;
}

.advice-card h2 {
    color: #A55591;
}

.water-card {
    border: solid 4px #F05058;
    box-shadow: 8px 8px #C39CB7;
}

.water-card h2 {
    color: #F05058;
}

.weather-card {
    border: solid 4px #07dfd4;
    margin-bottom: 0;
    padding: 20px 15px;
}

.weather-card h2 {
    color: #4AA19B;
}

.currency-card {
    border: solid 4px #4AA19B;
    border-radius: 40px;
    box-shadow: 8px 8px #F05058;
    padding: 20px 15px;
}

.currency-card h2 {
    color: #A55591;
}

.neighbours-card {
    border: solid 4px #C39CB7;
    box-shadow: 8px 8px #07dfd4;
}

.neighbours-card h2 {
    color: #C39CB7;
}

/* MOBILE NAV */
.mobile-nav {
    background-color: #A55591;
    color: white;
    margin-left: -15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mob-nav-button {
    background-color: #A55591;
    padding: 20px;
    border: none;
    border-right: solid white 2px;
}

.no-border {
    border: none;
}

.white {
    color: white;
}

.white:hover {
    color: rgba(255, 255, 255, 0.8);
}

.white:visited {
    color: white;
}

.mobile-drop {
    background-color: #773c68;
    padding: 20px;
}

.mob-search-input {
    background: none;
    border: none;
    border-bottom: solid #ffffff;
    font-family: Termina, sans-serif;
    font-size: 16px;
    text-align: center;
}

.mob-search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

/* ABOUT PAGE */
.about-container {
    max-width: 700px;
    margin-top: 40px;
}

.about-img-1 {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: -99;
}

.about-img-2 {
    width: 300px;
    position: static;
    margin: auto;
    z-index: -99;
}

@media (min-width: 768px) { 
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .home-image {
        margin-left: 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -99;
    }

    .big-temp {
        font-size: 110px;
    }

    .page-container {
        margin-bottom: 0;
    }

    .home-search-input {
        font-size: 36px;
    }

    .bookmark {
        font-size: 32px;
        position: relative;
        top: -15px;
    }

    .about-img-2 {
        width: 650px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        z-index: -99;
    }
}