html {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #383838;
}
body {
    min-height: 100vh;
    padding: 15px;
}

h1 {
    font-family: Termina,sans-serif;
    font-size: 48px;
    font-style: normal; 
    font-weight: 500;
}

h2 {
    font-family: Termina,sans-serif;
    font-size: 36px;
    font-style: normal; 
    font-weight: 800; 
}

.bold {
    font-weight: 800;
}

.page-container {
    max-width: 1270px;
    margin: auto;
    width: 100%;

}

.uk-navbar-nav > li > a {
    color: #383838;
    font-family: Termina,sans-serif;
    font-size: 20px;
    font-style: normal;
    text-transform: lowercase;
}

.search-input {
    border: none;
    border-bottom: solid #A55591;
    font-family: Termina, sans-serif;
    font-size: 16px;
    text-align: center;
}

.search-button {
    background: none;
    border: none;
    color: #F05058;
    font-size: 20px;
    padding: 5px;
}

.home-content {
    width: 100%;
    min-height: 70vh;
    text-align: center;
}

.home-search-input {
    border: none;
    border-bottom: solid #A55591;
    font-family: Termina, sans-serif;
    font-size: 36px;
    margin: 30px 0;
    text-align: center;
    width: 70%;
}

.home-button {
    background: rgba(255, 255, 255, 0.8);
    border: solid #F05058;
    border-radius: 40px;
    border-width: 4px;
    font-family: Termina, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 0px 30px;
    text-transform: lowercase;
}

.home-image {
    width: 100%;
    position: fixed;
    bottom: -65px;
    left: 0;
    z-index: -99;
}

/* NAV */

.countries-dropdown {
    background-color: white;
    font-family: Termina,sans-serif;
    padding: 20px;
    box-shadow: 4px 4px 6px #00000011 ;
}

.countries-list {
    margin: 0;
}

.saved-country {
    padding: 7px 5px;
    cursor: pointer;
}

.saved-country:hover {
    color: #C39CB7;
    transition: .2s ease;
}

/* dashboard header */

.header {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.header-intro {
    color: #A55591;
}

.header-country {
    color: #F05058;
    font-weight: 800;
}

.bookmark {
    font-size: 32px;
    color: #F05058;
    margin-left: 15px;
    cursor: pointer;
}

.bookmark:hover {
    opacity: .8;
}

/* DASHBOARD CARDS */

.card {
    border: solid 3px;
    margin-bottom: 25px;
    padding: 15px;
}

.main-link {
    color: #4AA19B;
    text-decoration: underline;
}

.main-link:hover {
    color: #07dfd4;
}

.water-status {
    font-size: 48px;
}

.water-icon {
    color: #4AA19B;
    font-size: 90px; 
    margin: 20px;
}

.big-temp {
    color: #4AA19B;
    font-family: Termina, sans-serif;
    font-size: 110px;
    font-weight: 800;
    margin-right: 30px;
}

.avg-text {
    color: #4AA19B;
    font-family: Termina, sans-serif;
    text-align: center;
}

#avg-current-month {
    font-weight: 800;
}

.month-btn {
    background-color: #C39CB7;
    color: white;
    cursor: pointer;
    font-family: Termina, sans-serif;
    font-size: 14px;
    padding: 6px 10px;
    text-transform: uppercase;
    margin: 10px 4px;

}

.active-month {
    background-color: #F05058;
}

.neighbour-country {
    cursor: pointer;
    padding: 15px 0;
    border: none;
    border-bottom: solid 1px #bebebe;
}

.cards-container {
    margin-bottom: 25px;
}


/* CARDS */

.overview-card {
    border: solid 4px #9B5B8E;
}

.overview-card h2 {
    color: #4AA19B;
}

.advice-card {
    border: solid 4px #9B5B8E;
    border-radius: 40px;
    box-shadow: 8px 8px #4AA19B;
    padding: 20px 15px;
}

.advice-card h2 {
    color: #A55591;
}

.water-card {
    border: solid 4px #F05058;
    box-shadow: 8px 8px #C39CB7;
}

.water-card h2 {
    color: #F05058;
}

.weather-card {
    border: solid 4px #07dfd4;
    margin-bottom: 0;
    padding: 20px 15px;
}

.weather-card h2 {
    color: #4AA19B;
}

.currency-card {
    border: solid 4px #4AA19B;
    border-radius: 40px;
    box-shadow: 8px 8px #F05058;
    padding: 20px 15px;
}

.currency-card h2 {
    color: #A55591;
}

.neighbours-card {
    border: solid 4px #C39CB7;
    box-shadow: 8px 8px #07dfd4;
}

.neighbours-card h2 {
    color: #C39CB7;
}